[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pyaml = "*"
rospkg = "*"
catkin_pkg = "*"
flask = "*"

[requires]
python_version = "3.7"
