[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
behave = "*"
pyaml = "*"
rospkg = "*"
catkin_pkg = "*"
pyre-check ="*"
psutil = "*"
pywatchman = "*"
numpy = "*"

[requires]
python_version = "3.7"
