[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pytest = "*"
behave = "*"
pyaml = "*"
rospkg = "*"
catkin_pkg = "*"
pyre-check ="*"
psutil = "*"
pywatchman = "*"
numpy = "*"
matplotlib = "*"
flask = "*"
flask-socketio = "*"
speechrecognition = "*"
pyaudio = "*"
google-cloud-speech = "*"
termcolor = "*"
gTTS = "*"

[requires]
python_version = "3.7"
