<launch>
  <node pkg="amcl" type="amcl" name="amcl" output="screen">

    <!-- Initial Position -->
    <param name="initial_pose_x" value="0"/>    <!-- x-coordinate -->
    <param name="initial_pose_y" value="0"/>    <!-- y-coordinate -->
    <param name="initial_pose_a" value="1.0"/>   <!-- orientation -->
    
    <param name="gui_publish_rate" value="15.0"/>
    <param name="min_particles" value="500"/>
    <param name="max_particles" value="1000"/>

    <param name="global_frame_id" value="/map"/>
    <param name="odom_frame_id" value="/odom"/>
    <param name="base_frame_id" value="/base_link"/>
    <remap from="scan" to="base_scan"/>

  </node>
</launch>
