<launch>

   	<arg name="map_file" default="$(find guide_robot)/map/CS_LG.yaml"/>
    <arg name="world_file" default="$(find guide_robot)/map/CS_LG.world"/>
    <arg name="pkg_dir" default="$(find guide_robot)"/>

    <param name="/use_sim_time" value="true"/>

	<!-- start map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
        <param name="base_watchdog_timeout" value="0.2"/>
    </node>

    <node pkg="guide_robot" type="delay_launch.sh"
        args="1 guide_robot move_base.launch"
        name="delayed_sim_launch" output="screen" />
    
    <node pkg="guide_robot" type="run_landmarks.sh"
    args="1 $(arg pkg_dir)"
    name="landmarks" output="screen"/>

    <node pkg="guide_robot" type="run_web.sh"
    args="2 $(arg pkg_dir)"
    name="web" output="screen"/>

    <node pkg="guide_robot" type="run_tts.sh"
    args="1 $(arg pkg_dir)"
    name="tts" output="screen"/>
	
	<!-- <node pkg="guide_robot" type="run_stt.sh"
    args="1 $(arg pkg_dir)"
    name="stt" output="screen"/> -->
</launch> 
